<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
</head>
<body>
<h2>hellou!</h2>
<form action="/result">
    <input type="submit" value="ISFP" name="mbti">
    <input type="submit" value="ISTJ" name="mbti">
    <input type="submit" value="ISTP" name="mbti">
    <input type="submit" value="ISFJ" name="mbti">
    <br>
    <input type="submit" value="ISFP" name="mbti">
    <input type="submit" value="ISTJ" name="mbti">
    <input type="submit" value="ISTP" name="mbti">
    <input type="submit" value="ISFJ" name="mbti">
    <br>
    <input type="submit" value="ISFP" name="mbti">
    <input type="submit" value="ISTJ" name="mbti">
    <input type="submit" value="ISTP" name="mbti">
    <input type="submit" value="ISFJ" name="mbti">
    <br>
    <input type="button" value="ISFP" name="mbti">
    <input type="button" value="ISTJ" name="mbti">
    <input type="button" value="ISTP" name="mbti">
    <input type="button" value="ISFJ" name="mbti">
</form>
</body>
</html>